%auth-card {
  padding: 28px;
  width: 100%;
  @media screen and (min-width: $screen-tablet) {
    min-width: 350px;
    width: 26%;
    padding: 33px 40px 40px;
    background-color: $N13;
    border: 1px solid $N10;
    border-radius: 2px;
    box-shadow: 0 20px 28px 0 rgba(10, 11, 12, 0.24);
  }
}
%auth-card-wrapper {
  min-height: 100vh;
  @include flex-col(flex-start, stretch);
  @media screen and (min-width: $screen-tablet) {
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
}
%auth-mobile-header {
  @include flex-row(space-between, center);
  margin-bottom: 48px;
  @media screen and (min-width: $screen-tablet) {
    display: none;
  }
}
%auth-mobile-logo {
  width: 110px;
  height: 40px;
}
%auth-logo {
  display: none;
  @media screen and (min-width: $screen-tablet) {
    display: block;
    margin-bottom: 40px;
  }
}
%auth-close-button {
  position: relative;
  left: 6px;
}
%auth-title {
  font-size: $H800;
  font-weight: 500;
  margin-bottom: 12px;
  line-height: 1.6;
  @media screen and (min-width: $screen-tablet) {
    font-size: $H600;
    margin-bottom: 26px;
  }
}
%auth-subtitle {
  font-size: $H500;
  margin-bottom: 24px;
  @media screen and (min-width: $screen-tablet) {
    font-size: $H300;
    color: $N5;
  }
}
%auth-label-text {
  font-size: $H500;
  line-height: 1.2;
  margin-bottom: 8px;
  @media screen and (min-width: $screen-tablet) {
    font-size: $H200;
  }
}

.auth {
  @extend %auth-card;
  @media screen and (min-width: $screen-tablet) {
    min-width: 380px;
    width: 25%;
    padding: 28px 40px;
    margin-bottom: 32px;
    box-shadow: 0 20px 28px 0 rgba(10, 11, 12, 0.24);
  }
  &__message {
    margin-bottom: 40px;
  }
  &__wrapper {
    @extend %auth-card-wrapper;
  }
  &__mobile-header {
    @extend %auth-mobile-header;
  }
  &__title-wrapper {
    @include flex-row(space-between, baseline);
  }
  &__logo {
    @extend %auth-logo;
  }
  &__mobile-logo {
    @extend %auth-mobile-logo;
  }
  &__close-button {
    @extend %auth-close-button;
  }
  &__title {
    @extend %auth-title;
    margin-bottom: 23px;
    @media screen and (min-width: $screen-tablet) {
      font-size: $H700;
    }
    &--message {
      margin-bottom: 16px;
      @media screen and (min-width: $screen-tablet) {
        margin-bottom: 24px;
      }
    }
  }
  &__form {
    @include flex-col(flex-start, stretch);
  }
  &__label-inner {
    @include flex-row(space-between, baseline);
  }
  &__label-wrapper {
    @include flex-col(flex-start, flex-start);
    margin-bottom: 16px;
    &--no-margin {
      margin-bottom: 0;
    }
  }
  &__label-text {
    @extend %auth-label-text;
    font-size: $H400;
    &--password {
      margin-bottom: 0;
    }
  }
  &__input {
    @extend %input;
    width: 100%;
  }
  &__input-wrapper {
    width: 100%;
    margin-bottom: 32px;
  }
  &__checkbox {
    margin-bottom: 32px;
  }
  &__button-wrapper {
    @include flex-row(space-between, center);
    &--flex-end {
      justify-content: flex-end;
    }
  }
  &__footer {
    @include flex-row(center, center);
    display: none;
    @media screen and (min-width: $screen-tablet) {
      display: flex;
    }
  }
  &__footer-text {
    font-size: $H100;
    line-height: 16px;
    margin-right: 16px;
  }
  &__button-image {
    @extend %button-image;
  }
  &__reset-message {
    margin-bottom: 32px;
  }
  &__text {
    font-size: $H500;
    line-height: 2;
    @media screen and (min-width: $screen-tablet) {
      font-size: $H300;
    }
  }
  &__image-wrapper {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: $B4;
    @include flex-row(center, center);
    margin-right: 8px;
    float: left;
  }
  &__message-image {
    fill: $N0;
    width: 18px;
    height: 18px;
  }
  &__link {
    @extend %link;
  }
  &__conditions {
    margin-bottom: 24px;
  }
}