.button-loading {
  color: transparent;
  position: relative;
  p {
    opacity: 0;
    visibility: hidden;
  }
  span {
    opacity: 0;
    visibility: hidden;
  }
  svg {
    fill: transparent;
  }
	&:after {
    align-self: center;
    content: ''; 
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
		display: block;
		width: 16px;
		height: 16px;
		border: 2px solid $N0;
		border-radius: 290486px;
		border-right-color: transparent;
		animation: button-loading 0.6s linear infinite;
		pointer-events: none;
	}
}

.button-loading-secondary {
  color: transparent;
  svg {
    fill: transparent;
  }
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 16px;
		height: 16px;
		border: 2px solid $N14;
		border-radius: 290486px;
		border-right-color: transparent;
		animation: button-loading 0.6s linear infinite;
		pointer-events: none;
	}
}

@keyframes button-loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(359deg);
	}
}

.icon-button-left {
  margin-right: 8px;
  margin-left: 0;
  order: -1;
}

.icon-button-left-desktop {
  margin-right: 0;
  margin-left: 8px;
  order: 2;
  @media screen and (min-width: $screen-tablet) {
    margin-right: 8px;
    margin-left: 0;
    order: -1;
  }
}
.icon-small {
  width: 16px;
  height: 16px;
}
.icon-large {
  width: 18px;
  height: 18px;
}
.icon-button-right {
  order: 2;
  margin-left: 8px;
  margin-right: 0;
}

%link {
  color: $B2;
  font-size: $H400;
  font-weight: 500;
  transition: color ease-in-out 0.2s;
  @media screen and (min-width: $screen-tablet) {
    font-size: $H200;
    &:hover {
      color: $B1;
    }
  }
  &:active {
    color: $B5;
  }
}

%button-image {
  width: 16px;
  height: 16px;
}

.rotate-180 {
	transition: transform ease-in-out 0.2s;
	transform: rotateX(180deg);
}