.button-loading {
  @include button-loading($N0);
}

.button-loading-secondary {
  @include button-loading($N14);
}

.button-loading-subtle {
  @include button-loading($B4);
}

@keyframes button-loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(359deg);
	}
}

.icon-button-left {
  margin-right: 8px;
  margin-left: 0;
  order: -1;
}

.icon-button-left-desktop {
  margin-right: 0;
  margin-left: 8px;
  order: 2;
  @media screen and (min-width: $screen-tablet) {
    margin-right: 8px;
    margin-left: 0;
    order: -1;
  }
}
.icon-small, svg.icon-small {
  width: 16px;
  height: 16px;
}
.icon-large, svg.icon-large {
  width: 18px;
  height: 18px;
}
.icon-button-right {
  order: 2;
  margin-left: 8px;
  margin-right: 0;
}

%link {
  color: $B2;
  font-size: $H400;
  font-weight: 500;
  transition: color ease-in-out 0.2s;
  @media screen and (min-width: $screen-tablet) {
    font-size: $H200;
    &:hover {
      color: $B1;
    }
  }
  &:active {
    color: $B5;
  }
}

%button-image {
  width: 16px;
  height: 16px;
}

.rotate-180 {
	transition: transform ease-in-out 0.2s;
	transform: rotateX(180deg);
}