

.checkbox {
  position: relative;
  @include flex-row(flex-start, center);
  z-index: 1;
  &__input {
    position: absolute;
    left: 2px;
    top: 6px;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    &:checked + .checkbox__inner {
      .checkbox__cell {
        background-color: $B4;
        border-color: $B4;
      }
      .checkbox__image {
        opacity: 1;
      }
      .checkbox__text {
        color: $N0;
      }
    }
  }
  &__inner {
    @include flex-row(flex-start, center);
  }
  &__cell {
    width: 22px;
    height: 22px;
    @include flex-row(center, center);
    background-color: $N8;
    border: 1px solid $N9;
    border-radius: 4px;
    transition-property: background-color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    margin-right: 8px;
    cursor: pointer;
    @media screen and (min-width: $screen-tablet) {
      width: 16px;
      height: 16px;
    }
  }
  &__image {
    margin-left: 1px;
    width: 14px;
    height: 14px;
    fill: $N0;
    opacity: 0;
    transition-property: fill, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    @media screen and (min-width: $screen-tablet) {
      width: 9px;
      height: 9px;
    }
  }
  &__text {
    font-size: $H400;
    line-height: 1;
    color: $N6;
    transition: color ease-in-out 0.2s;
    cursor: pointer;
    @media screen and (min-width: $screen-tablet) {
      font-size: $H200;
    }
  }
}