%flag-message {
  border-color: 2px;
  box-shadow: 0 8px 10px 0 rgba(10,11,12,0.56);
  @include flex-row(flex-start, center);
  padding: 10px 16px;
  border-radius: 2px;
  animation-name: bounceIn;
  animation-duration: 0.4s;
  cursor: pointer;
  pointer-events: all;
  width: 100%;
  @media screen and (min-width: $screen-tablet) {
    width: auto;
  }
}
%flag-message-wrapper {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  @include flex-row(stretch, stretch);
  @media screen and (min-width: $screen-tablet) {
    justify-content: center;
    align-items: center;
    top: 36px;
  }
}
%flag-message-image-wrapper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  @include flex-row(center, center);
  margin-right: 8px;
}
%flag-message-image {
  width: 12px;
  height: 12px;
}
%flag-message-text {
  font-weight: 500;
  font-size: $H200;
}