

.input-text-error {
  padding-top: 3px;
  font-size: $H100;
  font-weight: 500;
  line-height: 1.2;
  color: $Y1;
  animation-name: bounceIn;
  animation-duration: 0.4s;
}

.input-error {
  border-bottom: 2px solid $Y1;
  @media screen and (min-width: $screen-tablet) {
    &:not(:focus):hover {
      border-bottom: 2px solid $Y1;
    }
  }
}

.input-success {
  border-bottom: 2px solid $G1;
  @media screen and (min-width: $screen-tablet) {
    &:not(:focus):hover {
      border-bottom: 2px solid $G1;
    }
  }
}

