.password-step-ready {
  .password-conditions,
  .password-error {
    &__list-dot {
      display: none;
    }
    &__list-check {
      display: block;
    }
    &__text {
      color: $N0;
    }
  }
}
.password-step-unready {
  .password-conditions,
  .password-error {
    &__list-dot {
      background-color: $Y1;
    }
    &__text {
      color: $Y1;
    }
  }
}
.password-conditions {
  list-style: none;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  grid-gap: 8px;
  @media screen and (min-width: $screen-tablet) {
    grid-template-columns: 1.2fr 1fr;
  }
  &--profile {
    @media screen and (min-width: $screen-tablet) {
      grid-template-columns: auto;
    }
    @media screen and (min-width: $screen-netbook) {
      grid-template-columns: 1.2fr 1fr;
    }
    @media screen and (min-width: $screen-desktop) {
      grid-template-columns: auto;
    }
    @media screen and (min-width: $screen-desktop-large) {
      grid-template-columns: 1.2fr 1fr;
    }
  }
  &__item {
    @include flex-row(flex-start, center);
  }
  &__text {
    font-size: $H400;
    color: $N6;
    line-height: 16px;
    transition: color ease-in-out 0.2s;
    white-space: nowrap;
    @media screen and (min-width: $screen-tablet) {
      font-size: $H100;
      font-weight: 500;
    }
  }
  &__image-wrapper {
    flex: 0 0 16px;
    margin-right: 10px;
    @include flex-row(center, center);
    @media screen and (min-width: $screen-tablet) {
     margin-right: 4px;
    }
  }
  &__list-dot {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: $N6;
    transition: background-color ease-in-out 0.2s;
  }
  &__list-check {
    fill: $N0;
    width: 16px;
    height: 16px;
    transition: fill ease-in-out 0.3s;
    display: none;
  }
}

.password-error {
  @include flex-row(flex-start, center);
  &__text {
    font-size: $H400;
    color: $N6;
    line-height: 16px;
    transition: color ease-in-out 0.2s;
    white-space: nowrap;
    @media screen and (min-width: $screen-tablet) {
      font-size: $H100;
      font-weight: 500;
    }
  }
  &__image-wrapper {
    flex: 0 0 16px;
    margin-right: 10px;
    @include flex-row(center, center);
    @media screen and (min-width: $screen-tablet) {
     margin-right: 4px;
    }
  }
  &__list-dot {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: $N6;
    transition: background-color ease-in-out 0.2s;
  }
  &__list-check {
    fill: $N0;
    width: 16px;
    height: 16px;
    transition: fill ease-in-out 0.3s;
    display: none;
  }
}