.popover-revert {
  will-change: display, transform;
  display: block;
  &__inner {
    will-change: transform;
    position: relative;
    @include flex-col(flex-start, flex-start);
    background-color: $N12;
    box-shadow: 0 8px 10px 0 rgba(10,11,12,0.16);
    border: 1px solid $N10;
    &:after, &:before {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      will-change: transform;
    }
    &:after {
      border-color: transparent;
      border-top-color: $N12;
      border-width: 12px;
      right: 14px;
    }
    &:before {
      border-color: transparent;
      border-top-color: $N10;
      border-width: 13px;
      right: 13px;
    }
  }
  &__button {
    padding: 12px 20px;
    @include flex-row(flex-start, stretch);
  }
  &__button:hover,
  &__link:hover {
    @media screen and (min-width: $screen-desktop) {
      &, .popover-revert__text {
        color: $N7;
      }
    }
  }
  &__text,
  &__link {
    color: $N0;
    font-weight: 500;
    font-size: $H100;
    white-space: nowrap;
    transition: color ease-in-out 0.2s;
  }
  &__link-wrapper {
    padding: 5px 0;
    @include flex-col(flex-start, stretch);
    border: 1px solid transparent;
    border-top-color: $N10;
    border-bottom-color: $N10;
  }
  &__link {
    padding: 5px 20px;
  }
}