%radio-button-default {
  @include flex-row(center, center);
  font-size: $H500;
  color: $N8;
  background-color: $N10;
  min-height: 44px;
  padding: 10px 20px;
  line-height: 1;
  cursor: pointer;
  transition-property: color, background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  @media screen and (min-width:$screen-tablet) {
    min-height: 36px;
    font-size: $H200;
  }
}
%radio-button-checked-default {
  background-color: $B4;
  color: $N0;
}

%radio-button {
  min-width: 84px;
  background-color: $N13;
  @include flex-row(center, center);
  color: $N6;
  font-size: $H200;
  font-weight: 500;
  min-height: 44px;
  padding: 10px 20px;
  line-height: 1;
  cursor: pointer;
  transition-property: color, background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border-radius: 2px;
  border: 1px solid $N7;
  @media screen and (min-width:$screen-tablet) {
    font-weight: 400;
    background-color: $N10;
    min-height: 32px;
    border: none;
    color: $radio-text-color;
    &--left {
      border-radius: 2px 0 0 2px;
    }
    &--right {
      border-radius: 0 2px 2px 0;
    }
  }
}

%radio-button-label {
  position: relative;
  display: inline-block;
  z-index: 1;
}

%radio-button-input {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

%radio-button-checked {
  background-color: $N14;
  color: $B3;
  border-color: $B3;
  @media screen and (min-width:$screen-tablet) {
    background-color: $B4;
    color: $N0;
  }
}