.recovery-password {
  &__button-image {
    width: 18px;
    height: 18px;
  }
  &__email {
    pointer-events: none;
    margin-bottom: 20px;
  }
  &__label-wrapper {
    @include flex-row(space-between, flex-end);
    margin-bottom: 8px;
  }
  &__label-text {
    @extend %auth-label-text;
    &--no-margin {
      margin: 0;
    }
  }
  &__label {
    display: block;
    margin-bottom: 24px;
  }
  &__input {
    @extend %input;
    width: 100%;
  }
  &__input-wrapper {
    margin-bottom: 16px;
    position: relative;
    &--confirm {
      margin: 0;
    }
  }
  &__icon {
    @extend %input-icon;
    fill: $G1;
  }
  &__conditions {
    margin-bottom: 24px;
  }
  &__recaptcha {
    margin-bottom: 32px;
    div {
      width: 268px !important;
    }
  }
  &__buttons-wrapper {
    @include flex-row(flex-end, center);
  }
  &__button {
    margin-right: 24px;
  }
}