%status-bar-image {
  fill: $N0;
  width: 11px;
  height: 11px;
  transition: fill ease-in-out 0.2s;
}
%status-bar-image-wrapper {
  width: 24px;
  height: 24px;
  background-color: $N10;
  border-radius: 50%;
  @include flex-row(center, center);
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
%status-bar-number {
  font-size: $H400;
  color: $N13;
  font-weight: 600;
  line-height: 1;
}
%status-bar-line {
  height: 48px;
  width: 1px;
  background-color: $N10;
  transition: background-color ease-in-out 0.2s;
  @media screen and (min-width: $screen-tablet) {
    height: 36px;
  }
}
%status-bar-line-new {
  align-self: stretch;
  justify-self: center;
  width: 1px;
  background-color: $N10;
  transition: background-color ease-in-out 0.2s;
}
%status-bar-grid {
  display: grid;
  grid-template-columns: 24px auto;
  grid-gap: 16px;
  justify-content: stretch;
  justify-items: start;
  align-items: center;
  grid-auto-rows: auto;
}
