%card {
  background-color: $N13;
  border: 1px solid $N10;
  border-radius: 2px;
  box-shadow: 0 20px 28px 0 rgba(10, 11, 12, 0.24);
}
%status-dot {
  width: 4px;
  height: 4px;
  background-color: $G1;
  border-radius: 50%;
}
%close-button {
  position: relative;
  left: 6px;
}
.status-online {
  background-color: $G1;
}
.status-offline {
  background-color: $R1;
}
.image-rotate {
  transition: transform ease-in-out 0.2s;
	transform: rotateX(180deg);
}

.only-mobile-none {
  @media screen and (max-width: $screen-tablet) {
    display: none;
  }
}
.only-mobile-flex {
  @media screen and (max-width: $screen-tablet) {
    display: flex;
  }
}
.only-mobile-block {
  @media screen and (max-width: $screen-tablet) {
    display: block;
  }
}
.is-flex {
  display: flex;
}
.is-block {
  display: block;
}
.is-none {
  display: none;
}
.is.inline-block {
  display: inline-block;
}
.is-grid {
  display: grid;
}

.no-margin {
  margin: 0;
}

.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.opacity {
  opacity: 0;
}

.disable {
  pointer-events: none;
}